@{
    ViewData["Title"] = "Remove Cliente";
}

<h1>APAGAR CLIENTE</h1>
<p>Deseja apagar este cliente?</p>
<a srole="button" class="btn btn-danger">APAGAR</a>
<a asp-controller="Cliente" asp-action="Index" srole="button" class="btn btn-primary">CANCELAR</a>