@{
    ViewData["Title"] = "Insere Cliente";
}

<h1>INSERIR NOVO CLIENTE</h1>
<form>
  <div class="mb-3">
    <label for="Nome" class="form-label">nNome</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
   <div class="mb-3">
    <label for="Email" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
   <div class="mb-3">
    <label for="Numero de telefone" class="form-label">Numero de Telefone</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <button type="submit" class="btn btn-primary">enviar</button>
</form>
<br>
<a asp-controller="Cliente" asp-action="Index" srole="button" class="btn btn-primary">Voltar</a>