@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">lista de Clientes</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Jesus skatista</td>
      <td>evenflow6@gmail.com</td>
      <td>4002-8922</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <a role="button" class="btn btn-primary">Atualizar</a>
          <a role="button" class="btn btn-danger">apagar</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
   
</div>
